*.ini
video_aulas/Introdução_a_Informática_Aula_01.mp4
video_aulas/Introdução_a_Informática_Aula_07.webm
video_aulas/Introdução_a_Informática_Aula_01.webm
video_aulas/Introdução_a_Informática_Aula_04.webm
video_aulas/Introdução_a_Informática_Aula_05.webm
video_aulas/Introdução_a_Informática_Aula_06.mp4
video_aulas/Introdução_a_Informática_Aula_06.webm
video_aulas/Introdução_a_Informática_Aula_07.mp4
video_aulas/Introdução_a_Informática_Aula_08.mp4
video_aulas/Introdução_a_Informática_Aula_08.webm
video_aulas/Introdução_a_Informática_Aula_11.webm
